{:blocks (
{:block/content "User"
:block/format :markdown
:block/left 
{:block/uuid #uuid "680e31f7-5505-4442-9120-855825c20da0"}
:block/parent 
{:block/uuid #uuid "680e31f7-5505-4442-9120-855825c20da0"}
:block/properties 
{}
:block/uuid #uuid "680e320c-1973-4a04-9093-ade59edfe434"} 
{:block/content "API Server"
:block/format :markdown
:block/left 
{:block/uuid #uuid "680e320c-1973-4a04-9093-ade59edfe434"}
:block/parent 
{:block/uuid #uuid "680e31f7-5505-4442-9120-855825c20da0"}
:block/properties 
{}
:block/uuid #uuid "680e324d-b4c6-4d1c-9779-9a094b48e56b"} 
{:block/content "Services"
:block/format :markdown
:block/left 
{:block/uuid #uuid "680e324d-b4c6-4d1c-9779-9a094b48e56b"}
:block/parent 
{:block/uuid #uuid "680e31f7-5505-4442-9120-855825c20da0"}
:block/properties 
{}
:block/uuid #uuid "680e32b5-4869-4ee8-8b85-cf229f36928b"} 
{:block/created-at 1745761164751
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "680e32b5-4869-4ee8-8b85-cf229f36928b"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [488 40.80000564846381]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "85c18de0-236c-11f0-b540-b99e3442f89a"
:noFill false
:point [776 168]
:parentId "680e31f7-5505-4442-9120-855825c20da0"
:collapsedHeight 0
:nonce 1745760945732}}
:block/updated-at 1745761164751} 
{:block/created-at 1745761164755
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:borderRadius 2
:index 1
:scale [1 1]
:scaleLevel "xs"
:fill ""
:type "box"
:size [176 64]
:strokeType "line"
:strokeWidth 1
:opacity 1
:label "User Service"
:id "bcb36940-236c-11f0-b540-b99e3442f89a"
:fontWeight 400
:noFill false
:point [776 216]
:fontSize 10
:parentId "680e31f7-5505-4442-9120-855825c20da0"
:nonce 1745761038208
:italic false}}
:block/updated-at 1745761164755} 
{:block/created-at 1745761164755
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:borderRadius 2
:index 2
:scale [1 1]
:scaleLevel "xs"
:fill ""
:type "box"
:size [176 64]
:strokeType "line"
:strokeWidth 1
:opacity 1
:label "Friendship \nService"
:id "dcd23850-236c-11f0-b540-b99e3442f89a"
:fontWeight 400
:noFill false
:isLocked false
:point [776 312]
:fontSize 10
:parentId "680e31f7-5505-4442-9120-855825c20da0"
:nonce 1745761038350
:italic false}}
:block/updated-at 1745761164755} 
{:block/created-at 1745761164755
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 3
:scale [1 1]
:scaleLevel "xs"
:fill ""
:type "ellipse"
:size [128 104]
:strokeType "line"
:strokeWidth 1
:opacity 1
:label "Users"
:id "fc361bd0-236c-11f0-b540-b99e3442f89a"
:fontWeight 400
:noFill false
:point [376 248]
:fontSize 10
:parentId "680e31f7-5505-4442-9120-855825c20da0"
:nonce 1745761144589
:italic false}}
:block/updated-at 1745761164755} 
{:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:borderRadius 2
:index 4
:scale [1 1]
:scaleLevel "xs"
:fill ""
:type "box"
:size [128 56]
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "0790c160-236d-11f0-b540-b99e3442f89a"
:fontWeight 400
:noFill false
:point [600 256]
:fontSize 10
:parentId "680e31f7-5505-4442-9120-855825c20da0"
:nonce 1745761163442
:italic false}}
:block/updated-at 1745761164755})
:pages (
{:block/uuid #uuid "680e31f7-5505-4442-9120-855825c20da0"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "680e31f7-5505-4442-9120-855825c20da0"
:name "demonstrate - data & control flow"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("85c18de0-236c-11f0-b540-b99e3442f89a" "bcb36940-236c-11f0-b540-b99e3442f89a" "dcd23850-236c-11f0-b540-b99e3442f89a" "fc361bd0-236c-11f0-b540-b99e3442f89a" "0790c160-236d-11f0-b540-b99e3442f89a")}}
:block/updated-at 1745761164751
:block/created-at 1745760759043
:block/type "whiteboard"
:block/name "demonstrate - data & control flow"
:block/original-name "demonstrate - data & control flow"})}